body {
	background-image: url("images/desert-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Bungee', cursive;
}

#wrapper {
	font-size:0px;
	position:relative;
}

h1 {
	position: absolute;
	left: 32%;
	font-size: 60px;
	color: #D87341;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h2 {
	position: absolute;
	left: 40%;
	top:15vh;
	text-align: center;
}	

#player1, #player2, #oneScore, #twoScore, #winner, button, #highScores {
	position:absolute;
}

#oneScore, #twoScore, h2, #highScores {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 16px;

}
#oneScore {
	left: 5%;
	top:5vh;
}
#twoScore {
	right: 5%;
	top:5vh;
}

#highScores {
	left: 6%;
	top:15vh;
	color:#85CF26;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;	
}

#player1 {	
	top:55vh;
	background-image: url("images/chicken1.png");
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
}
#player2 {
	top:70vh;
	background-image: url("images/chicken2.png");
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
}
#winner {
	top:35vh;
	left: 23%;
	font-size: 40px;
	padding: 10px;
	color:#85CF26;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;	
	text-align: center;
}

button {
	top:27.5vh;
	left: 47.5%;
	color: #D87341;
	font-family: 'Bungee', cursive;
	font-size:16px;
	background-color:white;
	border-color: #85CF26;
}