/*div {
  border: 2px solid green;
}
*/

/*max-width ==> scales down if screen resizes*/

/*div {
  border: 1px solid green;
}*/

body {
  height: 100%;
  background-color: #f2f2f2;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  line-height: 2em;
  color: #8e8e8e;
}

.bio {
  padding: 2%;
}
.portfolio {
  text-align: center;
  background-image: url("../images/sf-background-bw.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #72328D;
}

.welcome {
  background-image: url("../images/background-bw.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 60vh;
}
 
.welcome h1 {
  text-transform: uppercase;
  padding-top: 15vh;
  font-weight: bold;
}

.welcome h1, h3, .portfolio {
  color: white;
}

.welcome img, .hover img{
  height: 30px;
  max-width: 30px;
  padding: 2%;
}

.about p, .portfolio p {
  font-size: 20px;
  margin: 2% auto;
}

.portfolio img {
  text-align: left;
  width: 80%;
  border-radius: 5px;
  color: #8e8e8e; 
}

.portfolio a {
  text-decoration: none;
  color: white;
}

.project-row{
  padding: 10%;
}

.hover {
  background-color: white;
  color: #8e8e8e; 
  display: none;
  height: 100%;
  border-radius: 2px;
  font-size: 20px;
}

.project {
  position: relative;
}

.project:hover .hover{
  display: block;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.slide {
  padding-bottom: 5%;
}

@media only screen and (max-width: 500px) {
  .portfolio {
    background-image: url("../images/mobile-sf-background-bw.png");
    background-size: contain;
  }
  
}
