/*div {
  border: 2px solid green;
}
*/

/*max-width ==> scales down if screen resizes*/

/*.slide {
  background-color: black;
  width: 80%;
  margin: 0 auto;
}*/

body {
  height: 100%;
  background-color: #f2f2f2;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  line-height: 2em;
  color: #8e8e8e;
}

.portfolio {
  text-align: center;
  background-image: url("../images/sf-background-bw.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #72328D;
}

.welcome {
  background-image: url("../images/background-bw.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 60vh;
}
 
.welcome h1 {
  text-transform: uppercase;
  padding-top: 15vh;
  font-weight: bold;
}

.welcome h1, h3, .portfolio {
  color: white;
}

.about p, .portfolio p {
  font-size: 20px;
  margin: 2% auto;
}

.portfolio img, p {
  text-align: left;
  width: 80%;
}

.portfolio a {
  text-decoration: none;
  color: white;
}

.project-row{
  padding: 10%;
}

.project p {
  background-color: #3F3D3F;
  padding: 2%;
}

@media only screen and (max-width: 500px) {
  .portfolio {
    background-image: url("../images/mobile-sf-background-bw.png");
    background-size: contain;
  }
  

}