
body {
  height: 100%;
  background-color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #8e8e8e;
}


/* HEADER AND NAVIGATION */

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

header a {
  color: gray;
  text-decoration: none;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

.main-nav {
  background: #fff;
  height: 60px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
    position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  text-align: center;
  margin: 0;
}

nav ul li {
 display: inline-block;
 padding: 0 3em;
 line-height: 3em;
}

nav ul li:hover {
  background: lightgray;
}

/* CONTAINERS AND DIVS */

.one-third-column {
	width: 28%;
	display: inline-block;
	padding: 2%;
}

.two-third-columns {
  width: 45%;
  display: inline-block;
  padding: 2%;
}

/* WELCOME SECTION */

.welcome {
  background-image: url("../images/background-bw.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 60vh;
  position: relative;
}

.welcome h1 {
  text-transform: uppercase;
  padding-top: 15vh;
  font-weight: bold;
}

.welcome h1, h3, .portfolio {
  color: white;
}

.welcome img, .project-info img, .contact img{
	max-height: 30px;
	max-width: 30px;
	padding: 2%;
}

.link_icon {
	max-height: 30px;
	max-width: 30px;
	padding: 2%;
	display: inline-block;
}

.link_icon:hover {
	background-color: lightgray;
}

.welcome-title {
	padding-left: 75%;
}

/* ABOUT SECTION */
.bio {
  padding: 2%;
}

/* PORTFOLIO SECTION */

.hover {
  background-color: white;
  color: #8e8e8e; 
  display: none;
  min-width: 240px;
  max-width: 270px;
  border-radius: 2px;
  font-size: 16px;
}

.portfolio {
  text-align: center;
  background-image: url("../images/sf-background-bw.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: gray;
  padding: 2%;
}

.project-img img {
  width: 100%;
  margin: 0 auto;
  /*min-width: 240px;
  max-width: 270px;
  border-radius: 5px;*/
}

.project-info {
  padding: 1%;
  padding-bottom: 3%;
}

.project-title {
  font-size: 2.5em;
}

.project-summary {
  font-size: 1.5em;
  font-style: italic;
}

.project-section {
  width: 28%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 1%;
  font-size: 0.75em;
}

.section-header {
  font-size: 1.5em !important;
  text-align: center;
  font-weight: bold;
}

.project-link  {
  vertical-align: center;
  padding-top: 1%;
  padding: 2%;
}

.project-link:hover {
  background-color: lightgray;
}

.link-section {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

.link-text {
  vertical-align: center;
  padding-top: 3%;
}

.link-text a {
  text-decoration: none;
  color: gray;
}
/*.project-img img {
  width: 100%;
  min-width: 240px;
  max-width: 270px;
  border-radius: 5px;
}

.project {
  position: relative;
}

.project:hover .hover{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #44484D;
  border-radius: 2px;
}*/

.project {
  background-color: white;
  width: 85%;
  margin: 2% auto;
}

/* ABOUT SECTION */
.contact {
  text-align: center;
  vertical-align: center;
  color: white;
  background-color: gray;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
  .project {
  	width: 80%;
  }

/*	.project:hover .hover {
		max-width: 300px;
		max-height: 300px;
	}*/

/*  .project-img img {
  	max-width: 300px;
  }*/

  .project-section {
    padding-top: 5%;
    width: 95%;
  }

  .project-title {
    font-size: 2em;
  }

  .project-summary {
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 500px) {
	.welcome-title {
  	padding-left: 55%;
	}

	.welcome h1, h3 {
	}

/*  .project-section {
    width: 100%;
  }*/

  .bio{
    text-align: justify;
  }
}

@media screen and (max-width:680px) {
  nav ul li {
    display: inline;
    padding: 0 1em;
    float: left;
  }
}